/* Card */

.SottoContenitoreCardDashboard {
    margin: 30px 10px;
    box-shadow: 2px 2px 15px 2px gray;
    border-radius: 10px;
}

.SottoContenitoreCardDashboard a {
    text-decoration: none;
}

.SottoContenitoreCardDashboardSopra {
    display: flex;
    align-items: center;
}

.SottoContenitoreCardDashboardSotto {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.SottoContenitoreCardDashboardSotto div div p {
    font-size: 16px;
    color: var(--Grigio);
}

.SottoContenitoreCardDashboardSotto div div span {
    font-weight: 600;
    color: var(--Grigio);
}

.SottoContenitoreCardDashboardSotto div + div {
    border-left: 1.5px solid var(--BiancoCardDashboard) ;
}

.ContenitoreIconaCardDashboard {
    padding: 5px;
    display: flex;
    min-width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    color: black;
}

.ContenitoreDescrizioneIconaCardDashboard {
    margin-left: 15px;
    font-weight: 600;
}

.LogoCebat {
    width: 80px;
    margin-left: 10px;
}