/* Card colore blu */

.ContenitoreAcquisti {
    border-left: 5px solid var(--ColoreBlue);
}

.ContenitoreIconaAcquisti {
    background-color: var(--ColoreBlue); 
}

.ContenitoreDescrizioneIconaAcquisti {
    color: var(--ColoreBlue);
}