
/* Card colore blu */

.ContenitoreColoreBlu {
    border-left: 5px solid var(--ColoreBlue);
}

.ContenitoreIconaColoreBLu {
    background-color: var(--ColoreBlue); 
}

.ContenitoreDescrizioneColoreBlu {
    color: var(--ColoreBlue);
}

/* Card colore celeste */

.ContenitoreColoreCelste {
    border-left: 5px solid var(--ColoreCeleste);
}

.ContenitoreIconaColoreCeleste {
    background-color: var(--ColoreCeleste);
}

.ContenitoreDescrizioneIconaColoreCeleste {
    color: var(--ColoreCeleste);
}

/* Card colore verde */

.ContenitoreClienti {
    border-left: 5px solid var(--ColoreVerde);
}

.ContenitoreIconaClienti {
    background-color: var(--ColoreVerde);
}

.ContenitoreDescrizioneIconaClienti {
    color: var(--ColoreVerde);
}

/* Card colore viola */

.ContenitoreReddito {
    border-left: 5px solid var(--ColoreViola);
}

.ContenitoreIconaReddito {
    background-color: var(--ColoreViola);
}

.ContenitoreDescrizioneIconaReddito {
    color: var(--ColoreViola);
}