:root {
    --ColoreBlue : rgba(25, 118, 210,0.6);
    --ColoreViola : #7986CB;
    --ColoreVerde : #4DB6AC;
    --ColoreCeleste : #4DD0E1;
    --Sfondo : rgba(240, 240, 240, 0.5);
    --Grigio : rgb(88, 88, 88);
    --BiancoCardDashboard : rgb(220, 220, 220);
}


/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 80px;
}

.bi-house {
    width: 40px;
    height: 40px;
    padding: 7px;
    color: whitesmoke;
    background-color: blue;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.opzioni {
    display: flex;
}

.opzioni .btn {
    height: 40px;
    font-size: 18px;
    padding: 0 10px;
    border-radius: 20px;
    margin: 0 5px;
}

.bi-person {
    width: 40px;
    height: 40px;
    background-color: #34b56f;
    border-radius: 50%;
    padding: 7px;
    margin: 0 10px 0 5px;
    color: whitesmoke;
    cursor: pointer;
}

.NavbarPrincipale {
    border-bottom: 1px solid rgb(160, 160, 160);
    margin: 0 10px;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ComandiUser:hover {
    font-weight: 700;
}


/* Card */

.SottoContenitoreCardDashboard {
    margin: 30px 10px;
    box-shadow: 2px 2px 15px 2px gray;
    border-radius: 10px;
}

.SottoContenitoreCardDashboard a {
    text-decoration: none;
}

.SottoContenitoreCardDashboardSopra {
    display: flex;
    align-items: center;
}

.SottoContenitoreCardDashboardSotto {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.SottoContenitoreCardDashboardSotto div div p {
    font-size: 16px;
    color: var(--Grigio);
}

.SottoContenitoreCardDashboardSotto div div span {
    font-weight: 600;
    color: var(--Grigio);
}

.SottoContenitoreCardDashboardSotto div + div {
    border-left: 1.5px solid var(--BiancoCardDashboard) ;
}

.ContenitoreIconaCardDashboard {
    padding: 5px;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    color: black;
}

.ContenitoreDescrizioneIconaCardDashboard {
    margin-left: 15px;
    font-weight: 600;
}

/* Card Specifica Acquisti */

.ContenitoreAcquisti {
    border-left: 5px solid var(--ColoreBlue);
}

.ContenitoreIconaAcquisti {
    background-color: var(--ColoreBlue); 
}

.ContenitoreDescrizioneIconaAcquisti {
    color: var(--ColoreBlue);
}

/* Card Specifica Reddito */

.ContenitoreReddito {
    border-left: 5px solid var(--ColoreViola);
}

.ContenitoreIconaReddito {
    background-color: var(--ColoreViola);
}

.ContenitoreDescrizioneIconaReddito {
    color: var(--ColoreViola);
}

/* Card Specifica Clienti */

.ContenitoreClienti {
    border-left: 5px solid var(--ColoreVerde);
}

.ContenitoreIconaClienti {
    background-color: var(--ColoreVerde);
}

.ContenitoreDescrizioneIconaClienti {
    color: var(--ColoreVerde);
}

/* Card Specifica Commenti */

.ContenitoreCommenti {
    border-left: 5px solid var(--ColoreCeleste);
}

.ContenitoreIconaCommenti {
    background-color: var(--ColoreCeleste);
}

.ContenitoreDescrizioneIconaCommenti {
    color: var(--ColoreCeleste);
}

/* aside */

aside > a {
    text-decoration: none;
    color: var(--Grigio);
}

aside > a:hover {
    font-weight: 800;
}
