.pagineUtente {
    background-color: #415a77;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.pagineUtente p {
    margin: 15px;
}

.separatoreCasisticheUtente {
    width: 100%;
    border-top: 1px groove rgba(245, 245, 245,0.8);
}

.dettagliUtente {
    background-color: #fefae0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid #415a77;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
}

.dettagliUtente .row {
    margin-top: 20px;
    justify-content: center;
}

.dettagliUtente .row .col-3 .row span {
    text-align: end;
    padding: 20px 0;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid gray;    
}

.dettagliUtente .row .col-6 .row span {
    text-align: start;
    padding: 20px 0 20px 20px;
    font-weight: 400;
    font-size: 18px;
    border-bottom: 1px solid gray;
}