.fontColonnaUser {
    text-align: center;
}

.fontColonnaAzioni {
    display: flex;
    justify-content: space-evenly;
}

.fontColonnaAzioni a {
    text-decoration: none;
    color: black;
}

.editUser:hover {
    color: green;
}

.deleteUser:hover {
    color: red;
}